version: "3.9"

services:
  server:
    build:
      context: ./server
    container_name: tubesync-server
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production

  client:
    build:
      context: ./client
    container_name: tubesync-client
    depends_on:
      - server
    ports:
      - "5173:80"
